<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Школа глубокого обучения ФПМИ МФТИ</b></h3>

<h2 style="text-align: center;"><b>Домашнее задание. Библиотека <a href="http://pandas.pydata.org/">pandas</a></b></h2>

В этом задании вы проанализируете данные из Appstore

<img src="https://drive.google.com/uc?export=view&id=1F1Qajgj-dC4o4VI3Wm7fIGlOJA0a60_B" width=300 height=300>

In [1]:
#!pip install pandas

In [2]:
import pandas as pd
import numpy as np

### Данные для задания: https://drive.google.com/file/d/1JY8l5nSu9O4GtMDpaOfH2Oowlpza3U-c/view?usp=sharing

In [3]:
data = pd.read_csv('BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [53]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [54]:
type(data.Age)

pandas.core.series.Series

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [15]:
# Ваш код здесь
data.groupby('Age').sum()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
Age,,,,,,,
0-17,14746359773,129278,0,72599,94435.0,56751.0,132659006
18-25,97904093780,657774,20641,488498,646679.0,382878.0,901669280
26-35,215350137743,1696554,84166,1120056,1449438.0,833751.0,1999749106
36-45,107824726995,951060,42507,579163,738302.0,417688.0,1010649565
46-50,44666364150,379645,32194,250663,309804.0,169940.0,413418223
51-55,37728982395,331396,26979,212529,263714.0,144426.0,361908356
55+,20964683314,199372,13273,123256,145038.0,75942.0,197614842

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [51]:
#Ваш код
data.groupby(['Gender', 'City_Category']).count()

                      User_ID  Product_ID     Age  Occupation  \
Gender City_Category
F      A                34807       34807   34807       34807
       B                56494       56494   56494       56494
       C                40896       40896   40896       40896
M      A               109831      109831  109831      109831
       B               169999      169999  169999      169999
       C               125550      125550  125550      125550

                      Stay_In_Current_City_Years  Marital_Status  \
Gender City_Category
F      A                                   34807           34807
       B                                   56494           56494
       C                                   40896           40896
M      A                                  109831          109831
       B                                  169999          169999
       C                                  125550          125550

                      Product_Category_1  Product_Category_2  \
Gender City_Category
F      A                           34807               23026
       B                           56494               38038
       C                           40896               28786
M      A                          109831               73729
       B                          169999              117210
       C                          125550               89802

                      Product_Category_3  Purchase
Gender City_Category
F      A                            8998     34807
       B                           15442     56494
       C                           12492     40896
M      A                           31850    109831
       B                           52743    169999
       C                           42753    125550

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [60]:
# Ваш код здесь
#data[data.Age == '46-50' and data.Purchase > 20000].coutn()
data.loc[ (data['Gender'] == 'F') & (data['Age'] == '46-50') & (data['Purchase'] > 20000)].count()

User_ID                       270
Product_ID                    270
Gender                        270
Age                           270
Occupation                    270
City_Category                 270
Stay_In_Current_City_Years    270
Marital_Status                270
Product_Category_1            270
Product_Category_2            166
Product_Category_3             73
Purchase                      270
dtype: int64

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [39]:
# Ваш код здесь
data[data['Product_Category_3'].isnull()].count()

User_ID                       373299
Product_ID                    373299
Gender                        373299
Age                           373299
Occupation                    373299
City_Category                 373299
Stay_In_Current_City_Years    373299
Marital_Status                373299
Product_Category_1            373299
Product_Category_2            206313
Product_Category_3                 0
Purchase                      373299
dtype: int64

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [62]:
data.loc[((data.Gender == 'M') & (data.Age == '26-35') )]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
...,...,...,...,...,...,...,...,...,...,...,...,...
537540,1004732,P00124642,M,26-35,14,B,2,1,16,NaN,NaN,16610
537541,1004732,P00051442,M,26-35,14,B,2,1,8,17.0,NaN,9877
537542,1004732,P00085242,M,26-35,14,B,2,1,8,14.0,17.0,10036
537543,1004732,P00117242,M,26-35,14,B,2,1,8,17.0,NaN,7802
537544,1004732,P00093342,M,26-35,14,B,2,1,1,8.0,18.0,11535

In [64]:
data.loc[((data.Gender == 'F') & (data.Age.isin(['36-45', '46-50', '51-55', '55+'])) ) ]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
537472,1004726,P00037142,F,36-45,16,C,2,1,1,2.0,5.0,11845
537473,1004726,P00058442,F,36-45,16,C,2,1,5,14.0,NaN,5155
537474,1004726,P00303242,F,36-45,16,C,2,1,5,8.0,NaN,8626
537475,1004727,P00295942,F,55+,0,C,3,0,2,5.0,15.0,12826
537476,1004727,P00351142,F,55+,0,C,3,0,1,8.0,17.0,15898

In [69]:
# Ваш код здесь
data.loc[((data.Gender == 'M') & (data.Age == '26-35') ) | ((data.Gender == 'F') & (data.Age.isin(['36-45', '46-50', '51-55', '55+'])) ) ].count()

User_ID                       219181
Product_ID                    219181
Gender                        219181
Age                           219181
Occupation                    219181
City_Category                 219181
Stay_In_Current_City_Years    219181
Marital_Status                219181
Product_Category_1            219181
Product_Category_2            151153
Product_Category_3             67598
Purchase                      219181
dtype: int64

In [70]:
data.count()

User_ID                       537577
Product_ID                    537577
Gender                        537577
Age                           537577
Occupation                    537577
City_Category                 537577
Stay_In_Current_City_Years    537577
Marital_Status                537577
Product_Category_1            537577
Product_Category_2            370591
Product_Category_3            164278
Purchase                      537577
dtype: int64

In [71]:
219181/ 537577

0.4077201963625676

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).